{% extends "base_layout.html" %} {% block content %}
<div class="content-section login-page shadow p-4 mb-5 bg-body rounded">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-center text-bold text-weight-bold">
        Create A Pitch
      </legend>

      <div class="form-group">
        {{ form.topic.label(class="form-control-label") }} {% if
        form.topic.errors %} {{ form.topic(class="form-control form-control-lg
        is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.topic.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.topic(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <br />
      <div class="form-group">
        {{ form.content.label(class="form-control-label") }} {% if
        form.content.errors %} {{ form.content(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.content(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <br />
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-primary") }}
    </div>
  </form>
</div>

{% endblock content %}
