{% extends "base_layout.html" %} {% block content %}
<article
  class="media content-section"
  style="max-width: 900px; margin: 20px auto"
>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <small class="text-muted"
        >{{ post.date_posted.strftime('%Y-%m-%d') }}</small
      >
    </div>

    <h2>{{ post.topic }}</h2>
    <p class="article-content" style="font-size: 1.2rem">{{ post.content }}</p>
  </div>
</article>
<div
  class="container shadow p-4 mb-5 bg-body rounded"
  style="max-width: 900px; margin: 20px auto"
>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group mt-2 mb-2">
      <legend class="border-bottom mb-4 text-center">Leave a Comment</legend>
      <div class="form-check" style="display: flex">
        <div>
          {{ form.upvote(class="form-check-input") }} {{
          form.upvote.label(class="form-check-label") }}
        </div>
        <div style="margin-left: 50px">
          {{ form.downvote(class="form-check-input") }} {{
          form.downvote.label(class="form-check-label") }}
        </div>
      </div>

      <div class="form-group mt-2 mb-2">
        {{ form.content.label(class="form-control-label") }} {% if
        form.content.errors %} {{ form.content(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.content(class="form-control form-control-lg") }} {%
        endif %}
      </div>
    </fieldset>
    <div class="form-group mt-2 mb-2">
      {{ form.submit(class="btn btn-outline-primary") }}
    </div>
  </form>
</div>

<div class="container d-flex justify-content-center mt-100 mb-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Comments</h4>
          <h6 class="card-subtitle">Latest Comments section by users</h6>
        </div>

        <div class="comment-widgets m-b-20 p-4">
          <div class="d-flex flex-row comment-row">
            <div class="comment-text w-100">
              <h5>Samso Nagaro</h5>
              <div class="comment-footer">
                <span class="date">April 14, 2019</span>
                <span class="label label-info">Pending</span>
                <span class="action-icons">
                  <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                  <a href="#" data-abc="true"
                    ><i class="fa fa-rotate-right"></i
                  ></a>
                  <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                </span>
              </div>
              <p class="m-b-5 m-t-10">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
